
:root{
	--bgC: white;
	--textC: black;
	--taskMakerBG: #eeeeee;
	--abtText:white;
  
	--norush: #FFFF99;
	--moderate: #fed8b1;
	--urgent: #f53f3c;
  
	--btnHov: whitesmoke;
  
  }
  body{
	  line-height: 2.5;
	font-family: 'Montserrat', sans-serif;
	color:var(--textC);
	background-color: var(--bgC);
  }
  textarea{
	resize: none;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bgC);
	color:var(--textC);
	border-style:none;
  }
  button{
	border-radius: 25px;
	background-color: var(--bgC);
	color:var(--textC);
	border: 1px;
	
  }
  input{
	border-style:none;
	background-color: var(--bgC);
	color:var(--textC);
  }
  option{
	border-style:none;
	background-color: var(--bgC);
	color:var(--textC);
  }
  select{
	background-color: var(--bgC);
	color: var(--textC);
	border-style: none;
  }
  button:focus, input:focus, textarea:focus, select:focus{
	outline:none;
  }
  button:hover{
	background-color: var(--btnHov);
  }
  a:link{
	color:var(--abtText);
  }
  #taskMaker{
  
	  background-color:var(--taskMakerBG);	
	  padding-left:80px;
	  padding-right:95px;
	  padding-bottom:275px;
	  padding-top: 35px;
	  width: 175px;
	  height:350px;
	  position: fixed;
	  left: 60%;
	  bottom: 25%;
	  border-radius: 25px;
  }
  #aboutDiv{
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;	
	left: -30%;
	margin: -100px 0 0 -150px;	
	background: var(--textC);
	color:var(--abtText);
	line-height: 1.5;
	padding: 25px;
	border-radius: 25px;
  }
  #settingsDiv{
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;	
	left: -30%;
	margin: -100px 0 0 -150px;	
	background: var(--textC);
	color:var(--abtText);
	line-height: 1.5;
	padding: 25px;
	border-radius: 25px;
  }
  .hideBtn{
	padding-left: 83%;
  }
  .task{
	padding: 50px;
	width: 400px;
	left: 75%;
	border-radius: 25px;
  }
  .norush{
	background-color: var(--norush);
  }
  .urgent{
	background-color: var(--urgent);
  }
  .moderate{
	background-color: var(--moderate);
  }
  .hidden{
	display:none;
  }
  .shown{
	display:block;
  }
  
  